:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
    /*
    --color-primary: #5192ED;
    --color-secondary: #69A1F0;
    --color-tertiary: #7EAEF2;
    --color-quaternary: #90BAF5;
    --color-quinary: #A2C4F5;
    */
  }

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Labrada:ital@1&family=Rubik+Iso&family=Shadows+Into+Light&family=Tilt+Neon&display=swap');
/* 
rules

font-family: 'Amatic SC', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Labrada', serif;
font-family: 'Rubik Iso', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Tilt Neon', cursive; 
*/

body{
    background-color: rgb(24, 23, 23);
    margin: 0;
}

#navbar{
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;

    margin-top: 5%;
}

#img{
    width: 60%;
    background-image: url('https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif');

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: crimson;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#mainc{
    display: flex;
    flex-direction: row;

    margin-top: 3%;
    height: 500px;
}

/* part1 */
#col1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.5rem;

    width: 50%;
    height: 100%;   

    
}

#pfp{
    background-image: url('https://i.pinimg.com/236x/eb/b2/81/ebb281de80e89c10e9b02c17d013bba6.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border: 2.5px solid slateblue;
    border-radius: 80%;

    width: 300px;
    height: 300px;

    margin-left: 10%;
}

/* part2 */

#col2{
    margin-top: 2%;
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;
}

#txtcol2{
    display: flex;
    flex-direction: column;

    height: 50%;

}

#msg, #msg2{
    margin-top: 9%;
    color:chartreuse;
    font-family: 'Indie Flower', cursive;
}

#icons{
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: .5rem;

    height: 50%;
    margin-bottom: 3%;
}

#insta{
    background-image: url('https://cdn-icons-png.flaticon.com/512/3670/3670125.png');
    background-size: cover;

    width: 40px;
    height: 40px;
}

#tt{
    background-image: url('https://cdn-icons-png.flaticon.com/512/3670/3670211.png');
    background-size: cover;

    width: 40px;
    height: 40px;
}


/* animation (texts) */

.content {
    display: flex;
    align-content: center;
    justify-content: center;

    margin-left: 10%;
  }
  
  .text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(1.5rem + .5vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  #pok{
    margin-left: 10%;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  @media(max-width:885px){
    #msg{
        margin-top: 35%;
    }
    #pfp{
        width: 200px;
        height: 200px;
    }
  }
  
  @media(max-width:525px){
    #msg, #msg2{
        font-size: 16px;
        margin-left: 2%;
        display: flex;
        justify-self: center;
    }

    #msg{
        margin-top: 55%;
    }

    #pfp{
        width: 180px;
        height: 180px;
    }
    #icons{
        margin-bottom: 35%;
    }
    .waviy span{
        font-size: 35px;
    }
  }

  @media(max-width:440px){
    #msg, #msg2{
        font-size: 16px;
        margin-left: 5%;
        display: flex;
        justify-self: center;
    }

    #msg{
        margin-top: 60%;
    }

    #pfp{
        width: 180px;
        height: 180px;
    }
    #icons{
        margin-bottom: 35%;
    }
    .waviy span{
        font-size: 35px;
    }
    #pok{
        font-size: 1.6em;
        margin-bottom: 5%;
    }
    #col1{
        gap: 1.5rem;
    }
  }

  @media(max-width:393px){
    #msg, #msg2{
        font-size: 12px;
        margin-left: 10%;
        display: flex;
        justify-self: center;
    }

    #msg{
        margin-top: 80%;
    }

    #pfp{
        width: 180px;
        height: 180px;
    }
    #icons{
        margin-bottom: 35%;
    }
    .waviy span{
        font-size: 35px;
    }
  }